@import "nevheader/nevbars.css";
@import "footerdata/footer.css";
@import "headerdata/header1.css";
#font
{
  color: brown;
  font-size:60px;
}
#font:hover
{ 
    color:blue;
    font-size:70px;
    cursor:pointer;
}
.divdata
{
  text-align:center;
  background-image:linear-gradient(to left, rgba(122, 186, 170,0.5),rgba(214, 96, 178,1));
  margin-left:10px;
  color:beige;
  border-radius:6px;
  box-shadow:3px 3px 3px 3px #ccc;
}
.divdata:hover
{
  text-align:center;
  background-image:linear-gradient(to left, rgba(122, 186, 170,0.5),rgba(214, 96, 178,1));
  margin-left:10px;
  color:black;
  border-radius:6px;
}
.dropdown-menu
{
  box-shadow: 2px 2px 2px 2px #ccc;
  background-image:linear-gradient(to left, rgba(122, 186, 170,0.5),rgba(214, 96, 178,1));
}
.dropdown-link
{
  color:black;
  text-decoration:none;
  font-size:16px;
 
}
.dropdown-link:hover
{
   color:white;
   font-size:18px;
}
#nevcolor
{
  background-image:linear-gradient(to left, rgba(122, 186, 170,0.5),rgba(214, 96, 178,1));

}






